<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=activePageTitle%> - Admin Dashboard
    </title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/public/css/adminordercf.css" />
    <%- include('../partials/headTagContent') %>

        <script nonce="<%-nonce%>"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJQRMDgijh3v9fuz8tqRnyi_vacUVQB9E&loading=async&map_ids=45d93d59f8e4f8ce&libraries=places,marker&callback=initMap"
            async defer></script>
        <style>
            #mapDiv {
                width: 100%;
                border-radius: 10px;
                padding: 10px;
            }

            #map {
                height: 300px;
                width: 100%;
            }

            #messageBoxHead2 {
                text-align: center;
            }

            .mapP {
                margin: 7px 0;
                font-weight: 600;
                text-align: center;
                font-size: 15px;
            }
        </style>
</head>

<body>
    <!-- for map -->
    <div id="messageBoxid02" class="messageBoxModel">
        <div class="messageBoxModel-content messageBoxAnimate">
            <h4 id="messageBoxHead2"></h4>
            <p class="mapP" id="messageBoxP2"></p>
            <p class="mapP" id="arriveTime"></p>
            <p class="mapP" id="distanceMap"></p>
            <br />
            <div id="mapDiv">
                <div id="map"></div>
            </div>
            <br />
            <button type="button" class="messageBoxBtn2" id="actionButton2">Ok</button>
        </div>
    </div>

    <%- include('../partials/alertboxAndLoader') %>
        <!-- popupBox -->
        <%- include('../partials/popupBox') %>

            <section class="section_con">
                <h4 class="info_h4"><span id="backBtn" style="margin-right: 7px; padding: 0 4px; cursor: pointer;"><i
                            class="fa-solid fa-arrow-left"></i></span>
                    <%=activePageTitle%>&nbsp;(<%= metaData.all ? metaData.all : 0 %>)
                </h4>

                <!--  -->
                <div class="tabBtns1">
                    <p class="tabBtn activetab">All (<%= metaData.all ? metaData.all : 0 %>)</p>
                    <p class="tabBtn">Today (<%= metaData.today ? metaData.today : 0 %>)</p>
                    <p class="tabBtn">Yesterday (<%= metaData.yesterday ? metaData.yesterday : 0 %>)</p>
                    <p class="tabBtn">Last 7 days (<%= metaData.last_7_days ? metaData.last_7_days : 0 %>)</p>
                    <p class="tabBtn">This month (<%= metaData.this_month ? metaData.this_month : 0 %>)</p>
                    <p class="tabBtn">Last month (<%= metaData.last_month ? metaData.last_month : 0 %>)</p>
                </div>
                <hr style="opacity: 0.4;" />

                <!-- tab 1 -->
                <div class="content_container">
                    <% if (typeof contentData !=='undefined' && contentData.length> 0) { %>
                        <% contentData.forEach(data=> { %>
                            <div class="mega_container" data-id="<%= data.orderId %>"
                                id="mega_container_<%= data.orderId %>">
                                <div class="mega_head flex">
                                    <div class="mega_head_img"><i class="fa-regular fa-user"></i></div>
                                    <div class="mega_head_1">
                                        <h4 class="mega_head_title">
                                            <a href="/dashboard/users?id=<%= data.orderUserId %>">
                                                <%= data.fullName %>
                                            </a>
                                        </h4>
                                        <p class="mega_head_subtitle op-7">
                                            <%= data.phone %>
                                        </p>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="tabs">

                                    <hr style="opacity: 0.4;" />

                                    <!-- tabs div profile-->
                                    <div class="flex pfOderDiv">
                                        <div class="tabsDiv profile-tabsDiv" style="display: block;">
                                            <p><span class="user-info-span">UserId: </span>
                                                <%= data.orderUserId %>
                                            </p>
                                            <p><span class="user-info-span">Phone: </span>
                                                <%= data.phone %>
                                            </p>
                                            <p><span class="user-info-span">Email: </span>
                                                <%= data.email %>
                                            </p>

                                            <p><span class="user-info-span">Address: </span>
                                                <%= data.streetAddress %>
                                            </p>
                                            <p><span class="user-info-span">City: </span>
                                                <%= data.city %>
                                            </p>
                                            <p><span class="user-info-span">Pincode: </span>
                                                <%= data.pincode %>
                                            </p>
                                            <% if (data.latitude && data.latitude !='undefined' ) { %>
                                                <p><span class="user-info-span">Latitude&Longitude: </span>
                                                    <%= data.latitude %>,<%= data.longitude %>
                                                </p>
                                                <br />
                                                <button class="showmapbtn"
                                                    style="color: white; background-color: rgb(27, 172, 8);"
                                                    data-order-id="<%= data.orderId %>" data-lat="<%= data.latitude %>"
                                                    data-lng="<%= data.longitude %>"
                                                    data-name="<%= data.fullName %>">View Map</button>
                                                <% } %>
                                        </div>

                                        <!-- sub container -->
                                        <div class="subDivCon">
                                            <div class="ordersDiv">
                                                <p><span class="user-info-span">OrderId: </span>
                                                    <%= data.orderId %>
                                                </p>
                                                <p><span class="user-info-span">Order Time: </span>
                                                    <%= data.orderTime %>
                                                </p>
                                                <p><span class="user-info-span">Delivery On: </span>
                                                    <span id="deliveryTime_<%= data.orderId %>">
                                                        <%= data.deliverTime %>
                                                    </span>
                                                </p>
                                                <p><span class="user-info-span">Status: </span>
                                                    <span
                                                        class="status_td <%= data.orderStatus === 'cancelled' ? 'redBack' : data.orderStatus === 'completed' ? 'greenBack' : 'blackBack' %>">
                                                        <%= data.orderStatus %>
                                                    </span>
                                                </p>
                                                <% if (data.orderStatus==='cancelled' ) { %>
                                                    <p><span class="user-info-span">Cancel Reason: </span>
                                                        <%= data.cancelReason %>
                                                    </p>
                                                    <% } %>


                                                        <table class="table">
                                                            <thead>
                                                                <th>Img</th>
                                                                <th>Product</th>
                                                                <th>Qty</th>
                                                                <th>Price</th>
                                                            </thead>
                                                            <tbody>
                                                                <% data.orderItems.forEach(item=> { %>
                                                                    <tr>
                                                                        <td>
                                                                            <% if (item.img) { %>
                                                                                <img style="height: 35px;"
                                                                                    src="<%= item.img %>" alt="img" />
                                                                                <% } %>
                                                                        </td>
                                                                        <td>
                                                                            <%= item.name %>
                                                                        </td>
                                                                        <td>
                                                                            <%= item.quantity %>
                                                                        </td>
                                                                        <td>₹<%= item.price %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }) %>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <td colspan="3" style="text-align: right;">Subtotal
                                                                    </td>
                                                                    <td>₹<%= data.orderTotalPrice %> <br />(<%=
                                                                                data.orderTotalItems %>&nbsp;items)</td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                            </div>
                                        </div>
                                    </div>

                                    <% if ( data.orderStatus=='pending' ) { %>
                                        <!-- btn for pending orders -->
                                        <div class="buttons">
                                            <button class="btn cancel-btn" style="color: white; background-color: red;"
                                                data-action="Cancelled" data-order-id="<%= data.orderId %>"
                                                data-user-id="<%= data.orderUserId %>"
                                                data-name="<%= data.fullName %>">Cancelled</button>
                                            <button class="btn complete-btn"
                                                style="color: white; background-color: green;" data-action="Completed"
                                                data-order-id="<%= data.orderId %>"
                                                data-user-id="<%= data.orderUserId %>"
                                                data-name="<%= data.fullName %>">Completed</button>
                                            <button class="btn pending-btn"
                                                style="color: white; background-color: black;" data-action="Pending"
                                                data-order-id="<%= data.orderId %>"
                                                data-user-id="<%= data.orderUserId %>"
                                                data-name="<%= data.fullName %>">Pending</button>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <% }) %>
                                <div class="loadMoreTrigger" id="tab1"></div>
                                <% } else { %>
                                    <p style="text-align: center; margin-top: 80px; margin-bottom: 100px;">No order
                                        found.</p>
                                    <% } %>
                </div>

                <!-- tab 2-->
                <div class="content_container">
                    <div class="loadMoreTrigger" id="tab2"></div>
                </div>
                <!-- tab 3-->
                <div class="content_container">
                    <div class="loadMoreTrigger" id="tab3"></div>
                </div>
                <!-- tab 4-->
                <div class="content_container">
                    <div class="loadMoreTrigger" id="tab4"></div>
                </div>
                <!-- tab 5-->
                <div class="content_container">
                    <div class="loadMoreTrigger" id="tab5"></div>
                </div>
                <!-- tab 6-->
                <div class="content_container">
                    <div class="loadMoreTrigger" id="tab6"></div>
                </div>
            </section>

            <!-- loading sections showing -->
            <div class="showingLoading">
                <div class="loader" id="loadingRotatorForSections"></div>
            </div>


            <script nonce="<%-nonce%>">
                const activePage = "<%=activePage%>";
                const flagPage = "<%=flag%>";
                document.getElementById('backBtn')?.addEventListener('click', () => window.history.back());

                document.addEventListener("DOMContentLoaded", async function () {
                    const loadingRotatorForSections = document.getElementById("loadingRotatorForSections");
                    const tabButtons = document.querySelectorAll(".tabBtn");
                    const contentContainers = document.querySelectorAll(".content_container");
                    let loadMoreTriggers = document.querySelectorAll(".loadMoreTrigger");
                    let activeObserver = null; // To track the active observer

                    if (flagPage && flagPage != "null" && flagPage.length > 5) {
                        document.querySelector('.tabBtns1').style.display = "none";
                        loadingRotatorForSections.style.display = "none";
                        return;
                    }

                    console.log("----- multiple orderid code started -----");

                    function createObserver(target) {
                        const observer = new IntersectionObserver((entries) => {
                            entries.forEach(entry => {
                                if (entry.isIntersecting) {
                                    const allLoadMoreElements = document.querySelectorAll('.loadMoreTrigger');
                                    const index = Array.from(allLoadMoreElements).indexOf(entry.target);
                                    console.log(`Trigger hits for ${target.id} index ${index}`);
                                    triggerData(index);
                                }
                            });
                        }, { threshold: 1.0, root: null, rootMargin: '100px' });

                        observer.observe(target.querySelector('.loadMoreTrigger'));
                        return observer;
                    }


                    contentContainers[0].style.display = "block";
                    tabButtons[0].classList.add("activetab");
                    if (activeObserver) activeObserver.disconnect(); // Remove previous observer
                    activeObserver = createObserver(contentContainers[0]);

                    // Tab button click event to switch between tabs.
                    tabButtons.forEach((tab, tabIndex) => {
                        tab.addEventListener("click", function () {
                            tabButtons.forEach(btn => btn.classList.remove("activetab"));
                            contentContainers.forEach(container => container.style.display = "none");

                            tab.classList.add("activetab");
                            if (contentContainers[tabIndex]) {
                                contentContainers[tabIndex].style.display = "block";
                                if (activeObserver) activeObserver.disconnect(); // Remove previous observer
                                activeObserver = createObserver(contentContainers[tabIndex]);
                            } else {
                                console.error(`No container found for tab index ${tabIndex}`);
                            }
                        });
                    });



                    //observer trigger
                    async function triggerData(index) {
                        console.log("trigger element : " + index);

                        let dataId = null;

                        if (contentContainers[index]) {
                            const megaContainers = contentContainers[index].querySelectorAll(".mega_container");

                            if (megaContainers.length > 0) {
                                const lastMegaContainer = megaContainers[megaContainers.length - 1];
                                dataId = lastMegaContainer.getAttribute("data-id");
                            }

                            await fetchData(index, dataId);
                        }
                    }

                    async function fetchData(index, lastVisible) {
                        loadingRotatorForSections.style.display = "block";
                        try {
                            const response = await fetch('/dashboard/api/load_data', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({ lastVisible, index, activePage })
                            });

                            const data = await response.json();

                            if (data.orders && data.orders.length > 0) {
                                console.log("data : " + data);
                                data.orders.forEach(data => renderData(data, index));
                            } else {
                                if (activeObserver) activeObserver.disconnect();
                                loadingRotatorForSections.style.display = "none";
                            }
                        } catch (error) {
                            console.error('Error loading more sections:', error);
                            showAlert("Failed to load data.", "negative");
                            loadingRotatorForSections.style.display = "none";
                        }
                    }

                    function renderData(data, index) {
                        const htmlPending = `
                        <div class="buttons">
                            <button class="btn cancel-btn" style="color: white; background-color: red;" 
                              data-action="Cancelled" 
                              data-order-id="${data.orderId}" 
                              data-user-id="${data.orderUserId}" 
                              data-name="${data.fullName}">Cancelled</button>
                            <button class="btn complete-btn" style="color: white; background-color: green;" 
                              data-action="Completed" 
                              data-order-id="${data.orderId}" 
                              data-user-id="${data.orderUserId}"
                              data-name="${data.fullName}">Completed</button>
                            <button class="btn pending-btn" style="color: white; background-color: black;" 
                              data-action="Pending" 
                              data-order-id="${data.orderId}"
                              data-user-id="${data.orderUserId}" 
                              data-name="${data.fullName}">Pending</button>
                        </div>`;

                        const htmlData = `
                            <div class="mega_container" data-id="${data.orderId}" id="mega_container_${data.orderId}">
                                <div class="mega_head flex">
                                    <div class="mega_head_img"><i class="fa-regular fa-user"></i></div>
                                    <div class="mega_head_1">
                                        <h4 class="mega_head_title"><a href="/dashboard/users?id=${data.orderUserId}">${data.fullName}</a></h4>
                                        <p class="mega_head_subtitle op-7">${data.phone}</p>
                                    </div>
                                </div>
                                <div class="tabs">
                                    <hr style="opacity: 0.4;" />
                                    <div class="flex pfOderDiv">
                                        <div class="tabsDiv profile-tabsDiv" style="display: block;">
                                            <p><span class="user-info-span">UserId: </span> ${data.orderUserId}</p>
                                            <p><span class="user-info-span">Phone: </span> ${data.phone}</p>
                                            <p><span class="user-info-span">Email: </span> ${data.email}</p>
                                            <p><span class="user-info-span">Address: </span> ${data.streetAddress}</p>
                                            <p><span class="user-info-span">City: </span> ${data.city}</p>
                                            <p><span class="user-info-span">Pincode: </span> ${data.pincode}</p>
                                            ${data.latitude && data.latitude !== 'undefined' ? `
        <p><span class="user-info-span">Latitude&Longitude: </span>
                                                    ${data.latitude},${data.longitude}
                                                </p>
                                        <br />
        <button class="showmapbtn"
            style="color: white; background-color: rgb(27, 172, 8);"
            data-order-id="${data.orderId}"
            data-lat="${data.latitude}"
            data-lng="${data.longitude}"
            data-name="${data.fullName}">
            View Map
        </button>
    ` : ''}
                                        </div>
                                        <div class="subDivCon">
                                            <div class="ordersDiv">
                                                <p><span class="user-info-span">OrderId: </span> ${data.orderId}</p>
                                                <p><span class="user-info-span">Order Time: </span> ${data.orderTime}</p>
                                                <p><span class="user-info-span">Delivery On: </span>
                                                    <span id="deliveryTime_${data.orderId}">${data.deliverTime}</span>
                                                </p>
                                                <p><span class="user-info-span">Status: </span>
                                                    <span class="status_td ${data.orderStatus === 'cancelled' ? 'redBack' : data.orderStatus === 'completed' ? 'greenBack' : 'blackBack'}">${data.orderStatus}</span>
                                                </p>
                                                ${data.orderStatus == 'cancelled' ? `<p><span class="user-info-span">Cancel Reason: </span> ${data.cancelReason}</p>` : ''}

                                                <table class="table">
                                                    <thead>
                                                        <th>Img</th>
                                                        <th>Product</th>
                                                        <th>Qty</th>
                                                        <th>Price</th>
                                                    </thead>
                                                    <tbody>
                                                        ${data.orderItems.map(item => `
                                                            <tr>
                                                                <td><img style="height: 35px;" src="${item.img}" alt="img" /></td>
                                                                <td>${item.name}</td>
                                                                <td>${item.quantity}</td>
                                                                <td>₹${item.price}</td>
                                                            </tr>
                                                        `).join('')}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3" style="text-align: right;">Subtotal</td>
                                                            <td>₹${data.orderTotalPrice} <br />(${data.orderTotalItems}&nbsp;items)</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    ${data.orderStatus == 'pending' ? htmlPending : ''}
                                </div>
                            </div>`;

                        if (contentContainers[index] && loadMoreTriggers[index]) {
                            contentContainers[index].insertBefore(loadMoreTriggers[index], contentContainers[index].lastElementChild);
                            contentContainers[index].appendChild(loadMoreTriggers[index]); // Reattach load-more-trigger at the bottom
                            contentContainers[index].insertAdjacentHTML('beforeend', htmlData); // Append the new categoryHTML at the end

                            if (data.orderStatus == 'pending') {
                                document.querySelectorAll('.btn').forEach(button => {
                                    if (!button.hasAttribute('data-listener')) {
                                        button.setAttribute('data-listener', 'true');
                                        button.addEventListener('click', (event) => {
                                            const action = button.getAttribute('data-action');
                                            const orderId = button.getAttribute('data-order-id');
                                            const name = button.getAttribute('data-name');
                                            const userId = button.getAttribute('data-user-id');
                                            openPopup(action, orderId, name, userId);
                                        });
                                    }
                                });
                            }

                            document.querySelectorAll('.showmapbtn').forEach(button => {
                                if (!button.hasAttribute('data-listener')) {
                                    button.setAttribute('data-listener', 'true');
                                    button.addEventListener('click', () => {
                                        const lat = button.getAttribute('data-lat');
                                        const lng = button.getAttribute('data-lng');
                                        const orderId = button.getAttribute('data-order-id');
                                        const name = button.getAttribute('data-name');
                                        openPopup2(lat, lng, orderId, name);
                                    });
                                }
                            });
                        }
                    }
                });

            </script>
        <script nonce="<%-nonce%>" src="../../public/js/showmapbtwuseranddeliveryboy.js"></script>
        <script nonce="<%-nonce%>" src="../../public/js/pendingOrderScript.js"></script>
</body>

</html>